# .gitignore file for LyX and LaTeX projects 

# Ignore everything in the tests and old  directories
# where experimental and outdated stuff are storaged
tests
old

# Ignore swap files
.*.swp

# Ignore all the output  files (dvi or pdf)
#*.pdf
#*.dvi

# Ignore standard latex's compilation files
*.out
*.log
*.aux

# Ignore TexMaker compilation files
*.synctex.gz

# Ignore JabRef bkup files
*.bib.bak
.$*.bib$

# ingnore lyx VCS files and backups
\#*.lyx\#
*.lyx,v
*.lyx~

# LaTeX gitignore from github:
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.xdv
*.fls
*.fdb_latexmk
*.soc
*.loc

# Ignore dropbox config files
.dropbox
sections/before/*.pdf
sections/after/*.pdf
sections/body/*.pdf
sections/test/*.pdf
sections/manualbefore/*.pdf
*.pdf
!main.pdf
!使用说明/latex基础知识与数学符号速查.pdf
!使用说明/对照word模板.pdf
!使用说明/模板使用手册.pdf
README.org